.btn-naranja {
  background-color: #f95d1f; /* tu naranja */
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.btn-naranja:hover {
  background-color: #e04a0e; /* un poco más oscuro al pasar el mouse */
}
.hojita-decorativa {
  position: absolute;
  top: -10px;
  left: -30px;
  width: 60px;
  transform: rotate(-10deg);
  z-index: 1;
}
